<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>

    <!-- Path to Image Save Directory. If share drive, should be mapped -->
    <!-- Folder will be created if does not exist, so ensure service has write/modify permissions -->
    <add key="IMAGE_SAVE_PATH" value="C:\Users\seanp\Desktop\TopazTest"/>
    
    <!-- Filename to use for saved signature image. Will be stored in above folder -->
    <add key="IMAGE_SAVE_FILENAME" value="TopazSigTest.jpg"/>
  </appSettings>
</configuration>
